// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;
$main-theme:#003049;
$accent-color: #f77f00;
$button-color: #f1faee;
$call-to-action: #f77f00 ;
$delete-button-color: #e63946 ;
$text-color: whitesmoke;
$border-color: #1a1c20;
$text-field-border-radius: 50px;
$border-radius-root: 50px;
